@import-normalize;

*, *:before, *:after {
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62,5%;
}

:root {
	--couleur-primaire: #d73953;
	--couleur-noire: #090909;
	--couleur-blanche: #ffffff;
	--couleur-gris-clair: #f3f3f3;
	--couleur-gris-foncé: #353535;
	--couleur-texte: var(--couleur-noire);
	--police-base: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	--police-titre: 'Raleway', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
	--taille-police-petite: 1,2rem;
	--taille-police-moyenne: 1,6rem;
	--taille-police-grande: 1,8rem;
	--taille-police-x-grande: 2,3rem;
	--taille-police-xx-grande: 4,8rem;
	--poids-police-normal: 400;
	--poids-police-gras: 700;
	--hauteur-ligne-petite: 1,2;
	--hauteur-ligne-base: 1,5;
	--hauteur-ligne-grande: 1,8;
	--alignement-entête-section: center;
	--transformation-tagline-section: uppercase;
	--marge-titre-section: 0;
	--couleur-titre-section: var(--couleur-noire);
	--padding-section: 5rem 0;
	--padding-entête-section: 0 0 3rem;
	--padding-corps-section: 0 0 3rem;
	--padding-pied-section: 3rem 0 0;
	--alignement-pied-section: center;
	--padding-pied-de-page: 5rem 0 1rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--police-titre);
	font-weight: var(--poids-police-gras);
}

body {
	color: var(--couleur-texte);
	font-family: var(--police-base);
	font-size: var(--taille-police-moyenne);
	font-weight: var(--poids-police-normal);
	line-height: var(--hauteur-ligne-base);
	padding: var(--padding-corps-section);
}

a:link {
	color: var(--couleur-texte);
	text-decoration: none;
}

a:visited {
	font-style: italic;
}

a:hover {
	text-decoration: underline;
}

a:active {
	background-color: var(--couleur-gris-clair);
}

.visually-hidden {
	display: none;
}

.carte-catégorie,
.section-tagline {
	color: var(--couleur-primaire);
}

.section {
	padding: var(--padding-section);
}

.section-entête {
	text-align: var(--alignement-entête-section);
	padding: var(--padding-entête-section);
}

.section-titre {
	font-family: var(--police-titre);
	font-size: var(--taille-police-xx-grande);
	font-weight: var(--poids-police-gras);
	margin: var(--marge-titre-section);
	color: var(--couleur-titre-section);
}

.section-tagline {
	font-family: var(--police-titre);
	text-transform: var(--transformation-tagline-section);
	font-weight: var(--poids-police-gras);
}

.conteneur {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.section-corps {
	padding: var(--padding-corps-section);
}

.section-pied {
	padding: var(--padding-pied-section);
	text-align: var(--alignement-pied-section);
}

.pied-de-page {
	padding: var(--padding-pied-de-page);
}

